@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@media (prefers-color-scheme: dark) {
    body {
        --font-color: white;
        --background-color: #131313;
        --background-accent: #181818;
        --dot-color: rgba(255, 255, 255, 0.5);
    }
}
@media (prefers-color-scheme: light) {
    body {
        --font-color: black;
        --background-color: white;
        --background-accent: aliceblue;
        --dot-color: rgba(0, 0, 0, 0.5);
    }
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;

    background-image: radial-gradient( circle, var(--dot-color) 1px, rgba(0, 0, 0, 0) 1px );
    background-color: var(--background-color);
    background-size: 40px 40px;
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;;

    --max-width: 80ch;
    font-size: max(1.2vw, 1rem);
}
#content {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    padding: 0 5rem;
}
#floatingCenter {
    align-self: center;
    background-color: var(--background-color);
    padding: 5rem;
}
#floatingCenter p{
    max-width: 60ch;
}
header {
    display: flex;
    justify-content: center;
}
header a{
    color: var(--font-color);
    text-decoration: none;
}
#welcomeSection {

}
#welcomeSection p{
    opacity: .5;    
}
.blogPost {
    background-color: var(--background-accent);
    border-radius: 5px;
    padding: 1rem 2rem;
}
.blogPost h2 {
    margin-top: .5rem;
}
#blogList a {
    color: var(--font-color);
    text-decoration: none;
}
.blogPost p {
    opacity: .5;
}
#blogList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#background {
    background-color: var(--background-color);
    filter: drop-shadow(2px 4px 6px black);
    max-width: var(--max-width);
}
footer {
    width: 100%;
    background-color: black;
    min-height: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    justify-self: flex-end;
}
footer a {
    color: white;
    text-decoration: none;
    opacity: .5;
}
.blogPostHeader {
    display: flex;
    align-items: flex-end;
    gap: 1rem;

    flex-grow: 1;
    flex-wrap: wrap;
}
.blogPostHeader p {
    opacity: .5;
    margin-bottom: 0;
}
.blogPostHeader h3 {
    opacity: .5;
    margin-bottom: 0;

    margin-left: auto;
}
.blogPostHeader h1 {
    margin-bottom: 0;
    width: 100%;
}
.blogPostBody {
}
.blogPostBody p{
    opacity: .5;
}
.blogPostBody * {
    max-width: 60ch;
}
hr {
    border-color: var(--background-accent);
    fill: var(--background-accent);
    width: 100%;
}